*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    margin: 0px;
    grid-template-rows: 80px 1fr 40px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
}
.cabecalho{
    grid-area: "cabecalho";
    background: #cfcfcf url(/images/cabecalho120x1000.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: 0px;
    box-shadow: black 1px 1px 20px 1px;
}
img{
    margin: 10px;
    width: 50px;
    border-radius: 100px;
}
.cabecalho > ul{
    margin: 10px;
    float: left;
}
.conteudo{
    height: calc(100vh-(120px));
    grid-area: "conteudo";
}
.conteudo > .explica{
    text-align: center;
}
.conteudo > .titulo{
    text-align: center;
}
.conteudo > .inputCampo{
    /*box-shadow: black 1px 1px 10px 1px;*/
    width: 300px;
    height: 150px;
    margin:0 auto;
    text-align: center;
    margin-top: 10px;
}
.inputCampo{
    align-items: center;
    padding-top: 25px;
}
input{
    margin: 10px;
    background: #b0ddf5;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: transparent
}
input:hover{
    background: #7fc2e6;
}
button{
    width: 80px;
    height: 30px;
    margin: 10px;
    border-radius: 15px;
    border: transparent;
    background: rgb(93, 126, 255);
    color: #ffffff;
}
button:hover{
    background: rgb(84, 118, 255);
    box-shadow: rgb(0, 0, 0) 1px 2px 10px 1px;
}
.conteudo > .script{
    box-shadow: black 1px 1px 10px 1px;
    width: 300px;
    height: 150px;
    margin:0 auto;
    text-align: center;
    margin-top: 10px;
}
.erro{
    color: red;
}
.script{
    align-items: center;
    padding-top: 25px;
}
.script > h5{
    margin: 2px;
}
.rodape{
    grid-area: "rodape";
    background: black;
}
.rodapecontent{
    text-align: center;
    color: white;
}
